{% extends 'panelmaster.html' %}
{% load static %}

{% block mainblock %}
<!-- Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-table"></i><strong>{{title}}</strong>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Notification</li>
    <li><a href="">{{title}}</a></li>
</ul>
<!-- END Header -->

<!-- Content -->
<div class="block full">
    <p>{{message}}</p>
</div>
<!-- END Content -->

{% endblock %}

{% block footerblock %}

<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'panel/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>

{% endblock %}